table.sorting  tr:not(.home){
    cursor:pointer;
}
.ui-state-highlight{
    border:10px dashed #ccc;
}


/*table.Sorting tr:not(.home) {
    cursor:pointer;
}
.ui-state-highlight{
    border:10px dashed #ccc;
}*/