table.sorting  tr:not(.home){
    cursor:pointer;
}
.ui-state-highlight{
    border:10px dashed #ccc;
}
div.new-category 
 {
    /*adding this to the categorie.cshtml*/
    margin-top: 30px;
    position: relative;
}
span.ajaxtext{
    display: none;
}

